<section id="contacts">
  <section id="contacts" class="fade-scroll">

  <h2>Contact Me</h2>

  <p class="subtitle">
    You can reach me anytime using the details below.
  </p>

  <div class="contact-info">
    <p>📧 Email: suracharan@gmail.com</p>
    <p>📞 Phone: +91-8879546393</p>
    <p>
      🔗 GitHub:
      <a href="https://github.com/surya1729-prog" target="_blank">
        https://github.com/surya1729-prog
      </a>
    </p>
    <p>
      🔗 LinkedIn:
      <a href="https://linkedin.com/in/www.linkedin.com/in/surya-n24" target="_blank">
        https://linkedin.com/in/www.linkedin.com/in/surya-n24




      </a>
    </p>
  </div>
</section>
