<section id="home">
  <div class="home-container">

    <h1 class="home-title">
      Hi, I’m <span class="home-name">Surya Naru</span>
    </h1>

    <h3 class="home-role">
      Full Stack Web Developer
    </h3>

    <p class="home-description">
      I build clean, responsive, and user-friendly web applications
      with a strong focus on modern UI and performance.
    </p>

    <div class="home-buttons">
      <a href="#projects" class="btn primary">View Projects</a>
      <a href="#contacts" class="btn secondary">Contact Me</a>
    </div>

  </div>
</section>
